<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tapper-OBJc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E67F58A1ED391A600649952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E67F5A61ED391A600649952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E67F5B11ED391A600649952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
